{# Layout for views #}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {# Metatags #}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Marketplace de coleta de resíduos" />
  <meta name="msapplication-TileColor" content="#34cb79" />
  <meta name="msapplication-config" content="./browserconfig.xml" />
  <meta name="theme-color" content="#322153" />

  {# Page title block #}
  {% block title %}
    <title>Ecoleta</title>
  {% endblock title %}

  {# Global links #}
  <link rel="apple-touch-icon" sizes="144x144" href="./assets/ico/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/ico/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/ico/favicon-16x16.png" />
  <link rel="manifest" href="./site.webmanifest" />
  <link rel="mask-icon" href="./assets/ico/safari-pinned-tab.svg" color="#34cb79" />
  <link rel="shortcut icon" href="./assets/ico/favicon.ico" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet" />
  <link href="./styles/main.css" rel="stylesheet" />

  {# Styles block #}
  {% block styles %}{% endblock styles %}

  {# Responsive styles #}
  <link href="./styles/responsive.css" rel="stylesheet" />
  
  {# Defer scripts block #}
  {% block scripts %}{% endblock scripts %}
</head>
<body>
  {# Page wrapper div #}
  <div id="{{ pageId }}">
    {% block content %}{% endblock content %}
  </div>
  {# Modal block #}
  {% block modal %}{% endblock modal %}
</body>
</html>
